.home_container {
    background: url("../../images/main_page_banner.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0 3rem 0 3rem;
}