.home_container {
    background: url("../../images/main_page_banner.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* .tag {
    opacity: 0;
    transform: translate(0, 30vh);
    transition: all 1.5s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
} */