@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.gallery-main-container {
    height: 100%;
    /* padding: 0 3rem; */
}

.gallery-content-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 9%;
}

.head-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    text-align: center;
}

.carousel-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35.6917px;
    line-height: 43px;
    margin-top: 3rem;
    text-align: left;
    color: #000000;
    margin-left: 1.5rem;
}

.custom-carousel {
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
    display: block;
}

.carousel .carousel-control-prev {
    width: 4rem;
}

.carousel .carousel-control-next {
    width: 4rem;
}

.custom-carousel .carousel-inner {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: block;
}

.custom-carousel .carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 2rem 0;
}

.image-div-container {
    height: 100%;
}

.image-div-container > img {
    height: 100%;
}